<!DOCTYPE html>
<html lang="en"> 
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script> <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>htmx test</title>
    <link rel="stylesheet"  href="/static/styles.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
    <body>
        <nav>
          <h1>htmx test</h1>
        </nav>
        {%~ block content %}{% endblock ~%}
    </body>
</html>
